h3{
	position: relative;
	margin-left: 1%;
	margin-top: 0.8%;
	margin-bottom: 5%;
}

#cad_func{
	width: 500px;
	height: 98%;
	background-color: #87CEFA;
	padding: 0.2%;
}

#inf_pessoais{
	position: relative;
	background-color: white;
	width: 85%;
	margin-left: 1%;
	margin-top: -3%;
	padding: 1%;
	border: 1px solid;
	border-radius: 2%;
}

#cpf{
	position: relative;
	left: 50%;
	margin-top: -10%;
}
#cpf input{
	width: 45%;
}

#inf_pessoais input{
	padding: 0.5%;
	height: 22px;
}

#inf_pessoais label{
	margin-top: 50%;
	color: #4682B4;
	font-family: times;

}

#nome input{
	width: 95%;
}

#email input{
	width: 95%;
}

#conselho{
	margin-left: 1%;
	margin-top: 1%;
}

#end{
	background-color: white;
	border: 1px solid;
	padding: 1%;
	width: 85%;
	margin-top: 1%;
	border-radius: 2%;
}

#end input{
	padding: 0.5%;
	margin-top: 1.5%;
}

#rua{
	position: relative;
	width: 75%;
}

#num{
	position: relative;
	left: 1%;
	width: 15%;
}

#cep{
	width: 30%;
}

#cargo{
	background-color: white;
	border: 1px solid;
	padding: 1%;
	width: 85%;
	border-radius: 2%;
}
#funcao{
	position: relative;
	margin-left: 40%;
	margin-top: -9%;
}

#sub{
	position: relative;
	margin-left: 40%;
	margin-top: -3%;
	margin-bottom: 3%;
	color: white;
	background-color: blue;

	
}

#res{
	margin-left: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
	color: blue;
	background-color: white;
}

#res:hover{
	background-color: red;
	color: white;
	transition: 0.2;
}

.botao:hover{
	box-shadow: 3px 5px gray;
	transition: 0.3s;
}

.botao{
	width: 20%;
	height: 30px;
	border: none;
	border-radius: 3%;
}

#conselho{
	background-color: white;
	width: 85%;
	padding: 1%;
	border-radius: 2%;
	border: 1px solid;
}

label{
	color: #4682B4;
}

hr{
	height: 2px;
}