body{
	background-color: #D3D3D3;
}

#navbarNav{
	background-color: #EEC900;
	height: 80px;
	border-radius: 10px;
	padding: 0.2%;
}

#content-head{
	margin-top: -2.7%;
}

.navbar-style{
	height: 100px; 
	background-color: #EE7600;
}

#breadcrumb{
	--bs-breadcrumb-divider: '>'; 
	padding: 0.5%; 
	margin-top: 0.5%;
	margin-bottom: -1%;
	margin-left: 1%;
}

#conteudo{
	width: 95%;
	display: fixed;
	background-color: white;
}